@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


#container {
	text-align: center;
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, 
	system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 
	'Noto Sans KR', 'Malgun Gothic', sans-serßif;
	font-size: 10pt;
	box-sizing: border-box;
}

.link_move_btn {

	text-decoration: none;
	display: inline-block;
	width: 120px;
	background: #323232;
	border-radius: 5px;
	color: #f6f6f6;
	font-size: 15px;
	padding: 10px;
	margin: 58px 5px 0 0;
}

.link_move_btn:hover {
	background: #d9bba9;
	color: #f6f6f6;
}

h2 {
	margin-top: 70px;
	font-size: 25pt;
}

p {
	margin: 40px 0 35px 0;
}

label {	
	display: inline-block;
	width: 80px;
	text-align: left;
}

input {
	border: none;
	padding: 10px;
	width: 300px;
}

.long_input {
	border: 0.5px solid rgb(120, 120, 120);
}

.tel_select {
	width: 80px;
	height: 40px;
	text-align: center;
}

.tel_input {
	width: 80px;
	height: 40px;
	border: 0.5px solid rgb(120, 120, 120);
}

.inner_section {
	display: inline-block;
	background:white;
	width: 400px;
	border:none;
	border: 0.5px solid rgb(120, 120, 120);
	margin-bottom: 15px;
	color: rgb(120, 120, 120);
}


form {
	display:inline-block;
	width: 500px;
}

.body_btn {
	cursor:pointer;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	border-radius: 30px;
	background: #323232;
	color: #f6f6f6;
	font-size: 15px;
	padding-top: 12px;
	margin: 30px 0 80px 0;
}

.body_btn:hover {
	background: #d9bba9;
}

.login_move_btn {
	display: inline-block;
	color: rgb(120, 120, 120);
	font-size: 11pt;
	padding-top: 6px;
	margin: 20px 0 80px 0;
}

.login_move_btn:hover {
	color: #323232;
}

.outer_section button {
	border: none;
	background: none;
	cursor:pointer;
	margin-bottom: 10px;
}