@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

#container { 
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, 
	system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 
	'Noto Sans KR', 'Malgun Gothic', sans-serßif;
	font-size: 10pt;
	box-sizing: border-box;

}

.button_no_back {
	background: none;
	border: none;
}

.cursor_pointer {
	cursor:pointer;
}

.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

body {
	background: #f6f6f6;
	margin: 0;
}

#container {
	margin: 0 auto;
	padding: 50px 0;
}

#reviews_info {
	background: white;
	padding: 50px 0;
	margin-bottom: 20px;
}


.wrap {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, 
	system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 
	'Noto Sans KR', 'Malgun Gothic', sans-serßif;
	font-size: 10pt;
	box-sizing: border-box;
}

.pop_wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	font-size: 0;
	text-align: center;
	display: none;
}

.pop_wrap:after {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}

.pop_wrap .pop_inner {
	display: inline-block;
	padding: 20px 20px;
	background: #fff;
	width: 700px;
	height: 460px;
	vertical-align: middle;
	font-size: 15px;
	text-align: left;
	box-shadow: 0 0 10px 1px rgb(120, 120, 120);
}

.review_btn {
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	border-radius: 30px;
	border: none;
	background: rgb(90, 90, 90);
	color: white;
	font-size: 15px;
	margin: 20px;
}

.review_btn:hover {
	background: #d9bba9;
	color: white;
}

.pop_left {
	width: 50%;
	float: left;
	padding-left: 15px;
}

.pop_right {
	float: right;
	width: 50%;
	padding: 10px 0 0 0;
	text-align: center;
}

p {
	margin: 0 0 3px 0;
}

.mini_button {
	text-decoration: underline; 
	color:rgb(120, 120, 120);
	padding: 2px;

}

.mini_button:hover {
	color:#323232;
}

.review_img {
	border-radius: 5px;
	overflow:hidden;
	box-shadow: 0 0 10px 1px rgb(240, 240, 240);
}

#imgSection label {
	border: none; 
	font-size: 10pt; 
	margin:20px 0 0 120px; 
	color:rgb(120, 120, 120); 
}

#reviewImgDiv {
	display:inline-block; position:relative; width:300px; height:300px; margin:5px;
}

#reviewImg {
	position:absolute; width:100%; height:100%; object-fit:cover;
}

#uploadImg {
	position: absolute; 
	clip: rect(0, 0, 0, 0);
}

#btn_close {
	margin-bottom: 5px;
}

#insertStar, #updateStar {
	margin: 10px 0 30px 0;
	text-align: center;
}

.starBtn img {
	width:30px;
}

textarea {
	resize: none;
	border: 0.5px solid rgb(120, 120, 120);
	padding: 10px;
}


.star {
	color: #ffe378;
	font-size: 20pt;
}

.like_section {
	float:right;
	margin: 14px 0 0 118px;
}
.review_user_prof {
	position: relative;
}

.review_user_nick {
	margin-left: 15px; 
	position: absolute; 
	bottom: 15px;
}
#container .userProf {
	padding: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 70%;
	overflow: hidden;
	box-shadow: 0 0 10px 1px rgb(240, 240, 240);
}

.userProf img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.like_section span {
	color:black;
}

.like_section img {
	width: 14px;
}

.likeBtn {
	background: rgba(0, 0, 0, 0);
	border: none;
	padding: 0;
}

.review_content {
	line-height: 16pt; 
	margin: 20px 0;
}

.review_date {
	font-size: 8pt; 
	color: rgb(190, 190, 190); 
	clear: both; 
	text-align: right;
}

#moreBtn {
	margin-bottom: 50px;
}

.review {
	display: block;
	width: 700px;
	margin: 20px auto;
	padding: 25px;
	background: white;
	box-shadow: 0 0 10px 1px rgb(240, 240, 240);

}

.review_left {
	width: 50%;
	float: left;
}

.review_right {
	float: right;
	width: 50%;
	padding: 10px 0 0 30px;
}

.review_right div {
	margin: 10px 0px;
}

#imgSection {
	width: 310px;
	min-height: 320px;

}

#imgSection:empty:before {
	content: attr(data-placeholder);
	color: #999;
	font-size: .9em;
}

#topBtn {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 70%;
	padding-top: 17.5px;
	color:rgba(120, 120, 120, 0.7);
	background:white;
	box-shadow: 0 0 5px 1px rgb(240, 240, 240);
	position:fixed;
	right: 10%;
	bottom: 20%;
}

.bold_text {
	font-weight: 700;
	font-size: 15px;
	
}