@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

#container { 
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, 
	system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 
	'Noto Sans KR', 'Malgun Gothic', sans-serßif;
	font-size: 10pt;
	box-sizing: border-box;

}

body {
	background: #f6f6f6;
	margin: 0;
	text-align: center;
}

#container {
	margin: 0 auto;
	text-align: center;
}

#reviews_info {
	background: white;
	padding: 50px 0;
	margin-bottom: 20px;
}

#star_avg {
	font-size:30pt;
}

#star_show {
	font-size: 30pt;
	color:  #ffe378;
	margin-bottom: 20px;
}

#review_count {
	color:rgb(120, 120, 120);
	margin-bottom: 10px;
}

.star_count_show {
	background: rgb(200, 200, 200);
	width: 120px;
	height: 7px;
	margin: 0 5px;
}

.star_count_show_color {
	background: #8d8d8d;
	width: 0px;
	height: 7px;
	margin: 0;
	position: absolute;
}

.star_info {
	color: #ffe378;    
}

.wrap {
	font-family: Pretendard, -apple-system, BlinkMacSystemFont, 
	system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 
	'Noto Sans KR', 'Malgun Gothic', sans-serßif;
	font-size: 10pt;
	box-sizing: border-box;
}

.pop_wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	font-size: 0;
	text-align: center;
}

.pop_wrap:after {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	content: '';
}

.pop_wrap .pop_inner {
	display: inline-block;
	padding: 20px 20px;
	background: #fff;
	width: 700px;
	height: 490px;
	vertical-align: middle;
	font-size: 15px;
	text-align: left;
	box-shadow: 0 0 10px 1px rgb(120, 120, 120);
}

#btn_open {
	font-weight: 700;
	letter-spacing : 1px;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	height: 50px;
	border-radius: 30px;
	background: rgb(90, 90, 90);
	color: white;
	font-size: 15px;
	padding-top: 15px;
	margin: 20px;
}

#btn_open:hover {
	background: rgb(150, 189, 100);
}

.pop_left {
	width: 50%;
	float: left;
	padding-left: 15px;
}

.pop_right {
	float: right;
	width: 50%;
	padding: 15px 0 0 0;
	text-align: center;
}

#reviewImgDiv {
	display:inline-block; position:relative; width:300px; height:300px; margin:5px;
}

#reviewImg {
	position:absolute; width:100%; height:100%; object-fit:cover;
}

#btn_close {
	margin-bottom: 20px;
}

#insertStar, #updateStar {
	margin: 10px 0 30px 0;
	text-align: center;
}

textarea {
	resize: none;
	border: 0.5px solid rgb(120, 120, 120);
	padding: 10px;
}

#innerBtn {
	display: inline-block;
	cursor:pointer;
	width: 100px;
	height: 50px;
	border-radius: 30px;
	background: rgb(90, 90, 90);

	margin-top: 30px;
	
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: 700;

}

#innerBtn:hover {
	background: rgb(150, 189, 100);
}

.star {
	color: #ffe378;
	font-size: 20pt;
}

.like_section {
	float:right;
	margin: 14px 0 0 118px;
}

.userProf {
	padding: 0;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 70%;
	overflow: hidden;
	border: 0.5px solid rgb(200, 200, 200);
}

.userProf img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

button {
	background: rgba(0, 0, 0, 0);
	border: none;
	padding: 0;
}

#moreBtn {
	margin-bottom: 50px;
}


.review {
	display: block;
	width: 700px;
	margin: 20px auto;
	padding: 25px;
	background: white;
	box-shadow: 0 0 10px 1px rgb(240, 240, 240);
	text-align: left;
}

.review_left {
	width: 50%;
	float: left;
}

.review_right {
	float: right;
	width: 50%;
	padding: 10px 0 0 30px;
}

.review_right div {
	margin: 10px 0px;
}

#imgSection {
	width: 310px;
	min-height: 320px;

}

#imgSection:empty:before {
	content: attr(data-placeholder);
	color: #999;
	font-size: .9em;
}

#topBtn {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 70%;
	padding-top: 17.5px;
	color:rgb(120, 120, 120);
	background:white;
	box-shadow: 0 0 10px 1px rgb(240, 240, 240);
	position:fixed;
	right:150px;
	bottom: 50%;
}

.bold_text {
	font-weight: 700;
	font-size: 15px;
	
}